body{
    background-color: #CBF3B2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

    
}

header 
    {
    margin: 0;
    padding: 0;
}



.colegio-estadual{
    font-size: 30px;
    text-align: center;

}
    .monsenhor-pedro-busko{
    font-size: 50px;
    text-align: center;
    }

    .colegio-estadual{
        color: #675821;
        font-style: italic;
    
    }
    .monsenhor-pedro-busko{
        color: #3DA75B;
      font-style: italic;
    }