
*{
  margin: 0;
  padding: 0;
}
header 
    {
background-color: linear-gradient (#52AA29, #5CA7EC);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 24px;
}



.colegio-estadual{
    font-size: 30px;
    text-align: center;
    color: #675821;
     font-style: italic;
  

}
    .monsenhor-pedro-busko{
    font-size: 40px;
    text-align: center;
    color: #3DA75B;
    font-style: italic;
    }
    
    
    .cabecalho-lista-item{
      display: inline-block;
      display: inline-block;
      margin: 0 16px;
      font-size: 24px;

    }