

header 
    {
  background-color: #CBF3B2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}



.colegio-estadual{
    font-size: 30px;
    text-align: center;

}
    .monsenhor-pedro-busko{
    font-size: 50px;
    text-align: center;
    }

    .colegio-estadual{
        color: #675821;
        font-style: italic;
        justify-content: space-around;
       
    
    }
    .monsenhor-pedro-busko{
        color: #3DA75B;
      font-style: italic;
     
    }
    
    .cabecalho-lista-item{
      display: inline-block;
      display: inline-block;
      margin: 0 16px;

    }